* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/81KcrDGGMxL.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 20px;
}

a,
a:active,
a:link,
a:visited {
  color: rgb(55, 221, 199);
}

.content {
  background: rgba(0, 0, 0, 0.4);
  margin: 80px auto;
  padding: 10px 20px;
  border-radius: 12px;
  max-width: 800px;
}
